/* Name: Casper Villagrana
	Date: 12/2/2025
	File: styles.css

/* CCS Reset default setting */
body,header,nav,li,ul,a,main,img,h1,h3,audio, video,div,footer{
	
	margin:0;
	padding:0;
	border:0;
}

/* Body General Style */

.bg{
	background-image: url("../images/sealsbg.png");
	background-size: 65em;
	background-repeat: repeat;
 	background-position: left;
}

/* Images General Style */

img{
	max-width:100%;
	display:block;
	height: auto;
	margin: 0 auto;
	border-radius: 12px;
}

#header img{
	max-width: 100%;
	height: 205px;
	border-radius: 12px;
}

/* Header Style */

header{
	color: #000000;
	font-family: "Hanalei Fill", system-ui;
	font-size: 2.5em;
  	font-weight: 400;
  	font-style: normal;
	text-align:center;
	padding:1%;
}

header h1{
	font-size:3em;
	font-family: "Hanalei Fill", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

header h3{
	font-style:italic;
	font-size:1.25em;
	font-family: "Hanalei Fill", system-ui;
  	font-weight: 400;
  	font-style: normal;
}


/* Navigation Style */
nav{
	background-color:#0f0f0f;
}

nav ul{
	list-style-type:none;
	margin:0;
	text-align:center;
}

nav li{
	display:inline-block;
	font-size:1.5em;
	font-family: "Hanalei Fill", system-ui;
  	font-weight: 400;
  	font-style: normal;
}

nav li a{
	display:block;
	text-align:center;
	padding:0.5em 1em;
	text-decoration:none;
	color:#ffffff;
}

/* Hover Style */
nav a:hover{
	color:#d3ced2;
}



/* Main Style */
main{
	padding:2%;
	background-color:#8b959b;
	font-family:"Chelsea Market", system-ui;
}

h1{
	font-family: "Chelsea Market", system-ui;
}

h2{
	font-family: "Chelsea Market", system-ui;
	color:#ffffff;
	text-align: center;
}

h3{
	color: white;
	font-family: "Chelsea Market", system-ui;
}

form, #myForm {
	font-family: "Chelsea Market", system-ui;
 	font-weight: 400;
  	font-style: normal;
	color:#ffffff;
	font-size:1.25em;
}


p{
	font-family: "Chelsea Market", system-ui;
 	font-weight: 400;
  	font-style: normal;
	color:#ffffff;
	font-size:1.25em;
}

table, th, td {
	background: #ffffff;
	border: 2px white;
	border-style: dashed;
	border-color:#000000;
	color:#000000;
	font-weight:bold;
	font-size: 1.2em;
	text-align: center;
	font-family: "Chelsea Market", system-ui;
}

hr {
	color:#ffffff;
}

#welcome {
	text-align: center;

}

figure {
		text-align: center;
	font-family: "Chelsea Market", system-ui;
}

main a{
	text-decoration:none;
	color:#d8e5ff;
	font-weight:bold;
}

main ul{
	list-style-type:square;
	font-size:1.15em;	
}

.action{
	color:#ffffff;
}
/* Video Style */
#video{
    text-align: center;
}

video{
	max-width:80%;
    margin: 10px;
    border-radius: 10px;
	width: 100%; /* Ensures it scales with its parent element */
  	aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
}

/* Audio Style */
#audio{
	color:#000000;
    text-align: center;    
}

/* Footer Style */
footer{
	text-align:center;
	font-size:0.75em;
	font-family: "Chelsea Market", system-ui;
	color:#ffe6e6;
	font-weight:bold;
}

footer p{
	color:#FFF;
	font-family: "Chelsea Market", system-ui;
}
footer a{
	font-family: "Chelsea Market", system-ui;
	color:#FFF;
	text-decoration:none;	
}


.container {
  font-family: "Hanalei Fill", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  text-align: center;
  align-items:center;
  align-content: center;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: rgb(0, 0, 0);
}

.container div {
  font-family: "Chelsea Market", system-ui;
  color: white;
  font-weight: 100;
  font-style: normal;
  background-color: #000000;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* Mobile Style */
@media (max-width: 600px){

	main h2{
		text-align: center;
		font-family: "Archivo Black", sans-serif;
  		font-weight: 400;
  		font-style: normal;
	}

	nav {
		width: 100%;
	}


	nav ul li {
		display: block;
		border: 2px solid rgb(43, 60, 156);
	}

	nav ul li a:hover{
		color:#a7a7a7;
	}

	nav ul li a:visited{
		color:#ffffff;
	}

	nav ul li a:active{
		color:#d6d6d6;
	}

	.mobile {
		display: none;
	}

}